@using WebApplication1.Models
@model List<Customer>
@{
    ViewData["Title"] = "Basic Crm";
}

<div>
	<table class="table table-bordered ">
		<thead>
		<tr>
			<th scope="col">Müşteri Sıra No</th>
			<th scope="col">Müsteri ID</th>
			<th scope="col">Müşteri Ad</th>
			<th scope="col">Müşteri Soyad</th>

			<th scope="col">GÜNCELLE</th>
			<th scope="col">DETAY</th>
			<th scope="col">SİL</th>
		</tr>
		</thead>
		<tbody>
		@{ int sirano = 0;}
		@foreach (var x in Model)
		{
			sirano++;
			<tr>
				<th>@sirano</th>
				<th>@x.customerID</th>
				<td>@x.customerName</td>
				<td>@x.customerSurname</td>

				<td><a href="/Home/customerUpdate/@x.customerID" class="btn btn-success">GÜNCELLE</a></td>
				<td><a href="/Home/customerDetails/@x.customerID" class="btn btn-info">DETAY</a></td>
				<td><a href="/Home/CustomerDelete/@x.customerID" class="btn btn-danger">SİL</a></td>
			</tr>
		}

		</tbody>

	</table>
</div>
